body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:19px;
  top:24px;
  width:726px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  word-wrap:break-word;
}
