body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:301px;
  width:168px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:581px;
  width:44px;
  height:18px;
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:127px;
  width:30px;
  height:18px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:209px;
  width:59px;
  height:18px;
}
#u305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:70px;
  width:30px;
  height:18px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:34px;
  width:59px;
  height:18px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:322px;
  width:0px;
  height:0px;
}
#u308_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u308_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-190px;
  width:8px;
  height:194px;
}
#u308_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-190px;
  width:19px;
  height:8px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:322px;
  width:0px;
  height:0px;
}
#u309_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u309_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-4px;
  width:8px;
  height:276px;
}
#u309_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:264px;
  width:19px;
  height:8px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:90px;
  width:59px;
  height:18px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:136px;
  width:0px;
  height:0px;
}
#u311_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u311_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-61px;
  width:8px;
  height:65px;
}
#u311_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-61px;
  width:15px;
  height:8px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:136px;
  width:0px;
  height:0px;
}
#u312_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u312_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:90px;
}
#u312_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:78px;
  width:15px;
  height:8px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:150px;
  width:30px;
  height:18px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:79px;
  width:0px;
  height:0px;
}
#u314_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u314_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-40px;
  width:8px;
  height:44px;
}
#u314_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-40px;
  width:18px;
  height:8px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:79px;
  width:0px;
  height:0px;
}
#u315_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u315_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:28px;
}
#u315_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:16px;
  width:18px;
  height:8px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:209px;
  width:30px;
  height:18px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:271px;
  width:30px;
  height:18px;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:142px;
  width:141px;
  height:33px;
  font-size:14px;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:218px;
  width:0px;
  height:0px;
}
#u319_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u319_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-63px;
  width:8px;
  height:67px;
}
#u319_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-63px;
  width:18px;
  height:8px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:218px;
  width:0px;
  height:0px;
}
#u320_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:218px;
  width:0px;
  height:0px;
}
#u321_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u321_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:70px;
}
#u321_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:58px;
  width:18px;
  height:8px;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:159px;
  width:0px;
  height:0px;
}
#u322_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:209px;
  width:141px;
  height:33px;
  font-size:14px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:227px;
  width:0px;
  height:0px;
}
#u324_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u324_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-5px;
  width:8px;
  height:9px;
}
#u324_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-5px;
  width:22px;
  height:8px;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:263px;
  width:141px;
  height:33px;
  font-size:14px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:280px;
  width:0px;
  height:0px;
}
#u326_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:456px;
  width:59px;
  height:18px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:581px;
  width:59px;
  height:18px;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:696px;
  width:59px;
  height:18px;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:590px;
  width:0px;
  height:0px;
}
#u330_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u330_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-129px;
  width:8px;
  height:133px;
}
#u330_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-129px;
  width:15px;
  height:8px;
}
#u330_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:590px;
  width:0px;
  height:0px;
}
#u331_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:590px;
  width:0px;
  height:0px;
}
#u332_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u332_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-4px;
  width:8px;
  height:123px;
}
#u332_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:111px;
  width:15px;
  height:8px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:478px;
  width:59px;
  height:18px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:433px;
  width:59px;
  height:18px;
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:465px;
  width:0px;
  height:0px;
}
#u335_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u335_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-27px;
  width:8px;
  height:31px;
}
#u335_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-27px;
  width:9px;
  height:8px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:465px;
  width:0px;
  height:0px;
}
#u336_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u336_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-23px;
  width:8px;
  height:27px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:465px;
  width:0px;
  height:0px;
}
#u337_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u337_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-4px;
  width:8px;
  height:30px;
}
#u337_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:18px;
  width:9px;
  height:8px;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:664px;
  width:102px;
  height:18px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:719px;
  width:102px;
  height:18px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:771px;
  width:102px;
  height:18px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:705px;
  width:0px;
  height:0px;
}
#u341_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u341_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-36px;
  width:8px;
  height:40px;
}
#u341_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-36px;
  width:14px;
  height:8px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:705px;
  width:0px;
  height:0px;
}
#u342_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u342_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:31px;
}
#u342_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:14px;
  height:8px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:705px;
  width:0px;
  height:0px;
}
#u343_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u343_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:83px;
}
#u343_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:71px;
  width:14px;
  height:8px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:416px;
  width:44px;
  height:18px;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:581px;
  width:59px;
  height:18px;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:794px;
  width:73px;
  height:18px;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:590px;
  width:0px;
  height:0px;
}
#u347_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:333px;
  height:8px;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:590px;
  width:0px;
  height:0px;
}
#u348_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:314px;
  height:8px;
}
#u348_seg1 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:-169px;
  width:8px;
  height:173px;
}
#u348_seg2 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:-169px;
  width:17px;
  height:8px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:590px;
  width:0px;
  height:0px;
}
#u349_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:314px;
  height:8px;
}
#u349_seg1 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:-4px;
  width:8px;
  height:221px;
}
#u349_seg2 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:209px;
  width:23px;
  height:8px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:221px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:341px;
  width:59px;
  height:18px;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:400px;
  width:59px;
  height:18px;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:456px;
  width:59px;
  height:18px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:425px;
  width:0px;
  height:0px;
}
#u353_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u353_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-79px;
  width:8px;
  height:83px;
}
#u353_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-79px;
  width:23px;
  height:8px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:425px;
  width:0px;
  height:0px;
}
#u354_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u354_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-20px;
  width:8px;
  height:24px;
}
#u354_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-20px;
  width:23px;
  height:8px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:425px;
  width:0px;
  height:0px;
}
#u355_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u355_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:48px;
}
#u355_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:36px;
  width:23px;
  height:8px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:341px;
  width:87px;
  height:18px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:400px;
  width:87px;
  height:18px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:456px;
  width:87px;
  height:18px;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:350px;
  width:0px;
  height:0px;
}
#u359_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:409px;
  width:0px;
  height:0px;
}
#u360_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:465px;
  width:0px;
  height:0px;
}
#u361_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:523px;
  width:59px;
  height:18px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:563px;
  width:59px;
  height:18px;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:599px;
  width:59px;
  height:18px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:643px;
  width:59px;
  height:18px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:590px;
  width:0px;
  height:0px;
}
#u366_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u366_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-62px;
  width:8px;
  height:66px;
}
#u366_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-62px;
  width:23px;
  height:8px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:590px;
  width:0px;
  height:0px;
}
#u367_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u367_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-22px;
  width:8px;
  height:26px;
}
#u367_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-22px;
  width:23px;
  height:8px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:590px;
  width:0px;
  height:0px;
}
#u368_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u368_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:26px;
}
#u368_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:14px;
  width:23px;
  height:8px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:590px;
  width:0px;
  height:0px;
}
#u369_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u369_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:70px;
}
#u369_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:58px;
  width:23px;
  height:8px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:719px;
  width:59px;
  height:18px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:846px;
  width:59px;
  height:18px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:810px;
  width:59px;
  height:18px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:851px;
  width:59px;
  height:18px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:889px;
  width:87px;
  height:18px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:855px;
  width:0px;
  height:0px;
}
#u375_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u375_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-40px;
  width:8px;
  height:44px;
}
#u375_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-40px;
  width:23px;
  height:8px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:855px;
  width:0px;
  height:0px;
}
#u376_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u376_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-4px;
  width:8px;
  height:13px;
}
#u376_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:1px;
  width:23px;
  height:8px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:855px;
  width:0px;
  height:0px;
}
#u377_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u377_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-4px;
  width:8px;
  height:51px;
}
#u377_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:39px;
  width:23px;
  height:8px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:803px;
  width:0px;
  height:0px;
}
#u378_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u378_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-79px;
  width:8px;
  height:83px;
}
#u378_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-79px;
  width:23px;
  height:8px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:803px;
  width:0px;
  height:0px;
}
#u379_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u379_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:60px;
}
#u379_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:48px;
  width:23px;
  height:8px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:681px;
  width:87px;
  height:18px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:728px;
  width:0px;
  height:0px;
}
#u381_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u381_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-42px;
  width:8px;
  height:46px;
}
#u381_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-42px;
  width:23px;
  height:8px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:746px;
  width:87px;
  height:18px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:728px;
  width:0px;
  height:0px;
}
#u383_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u383_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-4px;
  width:8px;
  height:35px;
}
#u383_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:23px;
  width:23px;
  height:8px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
